.element__like {
    width: 30px;
    height: 19px;
    margin: 0px;
    background: url(../../../images/Vector_like.png) no-repeat center;
    border: none;
    cursor: pointer;
}

.element__like.active {
    background: url(../../../images/Vector_like_active.png) no-repeat center;
}