.element__pic {
    width: 282px;
    height: 282px;
    max-width: 100%;
    min-height: 77%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -3px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.element__pic:hover {
    cursor: pointer;
}