.popup__body {
    margin: auto;
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    text-align: left;
    position: relative;
}

@media (min-width: 320px) and (max-width: 600px) {
    .popup__body {
        width: 282px;
    }
}