.profile__avatar {
    width: 120px;
    border-radius: 100px;
    margin: 0px 30px 0px 0px;
}

@media (min-width: 320px) and (max-width: 1100px) {
    .profile__avatar {
        align-items: center;
        margin: 0px 35px 0px 70px;
    }
}