.popup__button {
    cursor: pointer;
    display: block;
    width: 358px;
    height: 50px;
    margin: 48px auto 37px;
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
}

.popup__button:hover {
    opacity: .6;
}

.popup__button:disabled {
    background: white;
    color: black;
    border-radius: 5px;
    border: 1px solid #000000;
    opacity: .2;
}

@media (min-width: 320px) and (max-width: 600px) {
    .popup__button {
        width: 200px;
        margin: 55px 22px 25px;
    }
}