.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    background: url(../../../images/Close-Icon.png) no-repeat center;
    width: 30px;
    height: 30px;
    border: none;
}

.popup__close:hover {
    opacity: .6;
}

@media (min-width: 320px) and (max-width: 600) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -40px;
        right: -40px;
    }
}